@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Texturina:wght@900&family=Yeon+Sung&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: o;
    background: url("./samg.png");
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Yeon Sung', cursive;
    /* text-align: justify; */
}

h2 {
    font-weight: normal;
    font-size: 4rem;
    /* margin-top: -10rem; */
    text-align: center;
}

.countdown-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 400px;
    margin: 20px;
    border-radius: 1rem;
    box-shadow: 5px 0px 12px rgb(5, 0, 0) inset;
    margin-top:12rem;
    
}

.date {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0 6rem;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
    flex-direction: row;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.3rem;
}


/* footer section styling */

footer {
  
  margin-top: 3rem;
  text-align: center;
  
}

footer span a {
  color: crimson;
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}

.sm a {
    display: inline-flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: 0.4s;
    border-radius: 50%;
    text-decoration: none;
    background:black;
    color: white;
    margin-top: 3rem;
}

.sm a:hover {
    background: #2c3e50;
    color: white;
}


@media (max-width: 500px) {
  body{
  background: url("./Cel.png")
  background-size: cover;
  background-size: 500px 800px ;
  }
    h2 {
        font-size: 3rem;
        margin-top: 2rem;
        text-align: center;
    }
    .countdown-container {
      
        width: 400px;
        height: 200px;
        border-radius: 1rem;
        box-shadow: 5px 0px 12px rgb(5, 0, 0) inset;
    }
    .big-text {
        font-size: 2rem;
        line-height: .5;
      
    }
    .date{
      margin-left: .5rem;
    }

}